<html>
	<title>Upload ejs</title>
	<body>
		<form name="upload" method="POST" action="/read-json-file" enctype="multipart/form-data">
			<input type="file" name="json">
			<input type="submit" name="submit">
		</form>
	</body>

</html>