<!DOCTYPE html>
<html>
<head>
	<title>User Registration</title>
</head>
<body>
	<label>Username: </label>
	<input type="text" name="username"><br>
	<label>Password: </label>
	<input type="password" name="password"><br>
	<input type="submit" value="Submit" name="submit">

	<p class="result"></p>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
	$('input[name="submit"]').on('click',function(){
		var username = $('input[name="username"]').val();
		var password = $('input[name="password"]').val();
		if(username == '' || username == undefined){
			alert('Username is empty');
			return false;
		}
		if(password == '' || password == undefined){
			alert('Password is empty');
			return false;
		}
		$('.result').html('Username is : '+username+'  & Password is : '+password);
	})

</script>