<!DOCTYPE html>
<html>
<head>
	<title>User Registration</title>
</head>
<body>
	<form action="/user/login" method="POST" name="login-form">
		<label>Username: </label>
		<input type="text" name="username"><br>
		<label>Password: </label>
		<input type="password" name="password"><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>