<!DOCTYPE html>
<html>
<head>
	<title>User Registration</title>
</head>
<body>
	<form action="/user/register" method="POST" name="register-form" enctype="multipart/form-data">
		<label>Username: </label>
		<input type="text" name="username"><br>
		<label>Password: </label>
		<input type="password" name="password"><br>
		<label>Email Id: </label>
		<input type="email" name="email"><br>
		<label>Image: </label>
		<input type="file" name="user_image"><br>
		<input type="submit" name="submit">
	</form>
</body>
</html>